#pot {
    bottom: 15%;
    position: absolute;
    animation: linear infinite;
    animation-direction: alternate-reverse;
    animation-duration: 10s;
    animation-name: run;
    border-style: dotted;
    background-color: palegoldenrod;
  }
  #pot2 {top: 15%;
    position: absolute;
    animation: linear infinite;
    animation-direction: alternate-reverse;
    animation-duration: 10s;
    animation-name: run;
    border-style: double;
    background-color: powderblue;
}
#pot3 {
    bottom: 30%;
    position: absolute;
    animation: linear infinite;
    animation-direction: alternate-reverse;
    animation-duration: 10s;
    animation-name: run;
    border-style: groove;
    background-color: lightsalmon;
  }
  #pot4 {
    top: 30%;
    position: absolute;
    animation: linear infinite;
    animation-direction: alternate-reverse;
    animation-duration: 10s;
    animation-name: run;
    border-style: dashed;
    background-color: black;
    color: wheat;
}
#centerbox {
    background-color: pink;
    width: 300px;
    height: 300px;
    position: fixed;
    font-family: helvetica;
    transform: translate(30vw, 20vh);
    text-align: center;
    border-style: groove;
    
}
h1 {
    font-family: Arial;
    background-color: darksalmon;
}
body {
    background-color: black;
}
  @keyframes run {
    0% {
      left: 0;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 0;    
    }
   